In [1]:
# import necessary pacakges and define objects for approriate csv files
import pandas as pd
import numpy as np
import pymysql
import mysql.connector
from sqlalchemy import create_engine

In [2]:
# Create connection to database
db_conn_str = 'mysql+pymysql://root:' + password + '@localhost:3306/capstone'
db_conn = create_engine(db_conn_str)

In [3]:
# create data frame from MySql tables customer, orders and order_items
df = pd.read_sql('SELECT distinct c.customer_unique_id AS "Customer ID", o.order_id AS "Order_Id", LEFT(o.order_purchase_timestamp, 10) AS "Order Date", oi.price AS "Price", c.customer_state FROM olist_customers_dataset c INNER JOIN olist_orders_dataset o ON c.customer_id = o.customer_id INNER JOIN olist_order_items_dataset oi ON o.order_id = oi.order_id', con= db_conn)

In [4]:
#check structure of df and for null values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101270 entries, 0 to 101269
Data columns (total 5 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Customer ID     101270 non-null  object
 1   Order_Id        101270 non-null  object
 2   Order Date      101270 non-null  object
 3   Price           101270 non-null  float64
 4   customer_state  101270 non-null  object
dtypes: float64(1), object(4)
memory usage: 3.9+ MB

In [5]:
# statistics for Price column
df.describe()

               Price
count  101270.000000
mean      125.098426
std       189.712675
min         0.850000
25%        40.900000
50%        79.000000
75%       139.900000
max      6735.000000

In [6]:
#closes db connection
db_conn.dispose()